.navbar-custom {
    background-color: black;
    transition: background-color 0.3s ease;
}

.navbar-custom.scrolled {
    background-color: rgba(0, 0, 0, 0.8); 
}

body {
    background-color: black; 
    color: white; 
    margin: 0;
    padding: 0;
    
}
.nav-item {
    margin-right: 80px;
}


.nav-link {
    color: white;
    text-decoration: none; 
    font-size: 22px; 
    transition: color 0.3s ease, text-decoration 0.3s ease; 
    
}


.nav-link:hover {
    color: #2ecc71; 
    text-decoration: underline; 
}


.alexis {
    color: #2ecc71; 
    font-weight: bold;
    font-size: 30px; 
}
.img-circle {
    padding: 30px;
    object-fit: contain; 
    width: 100%; 
    height: auto; 
    border-radius: 50%; 
    overflow: hidden; 
}

@media (min-width: 992px) {
    .img-circle {
        object-fit: cover;
    }
}

.nombre{color: #2ecc71;}
.presentacion{font-family: Arial, Helvetica;
font-size: 40px;}
.icon-container {
    display: flex; 
    gap: 20px;
}

.circle {
    width: 60px; 
    height: 60px; 
    border-radius: 50%; 
    border: 3px solid #2ecc71; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: black; 
    color: #2ecc71; 
}

i {
    font-size: 24px;
}